/*fuente*/
@font-face {
    font-family: 'MartianMonoBold';
    src: url(../fonts/MartianMonoNerdFontMono-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: '0xprotoMono';
    src: url(../fonts/0xprotoMono-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: '3270Nerd';
    src: url(../fonts/3270NerdFont-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*Animacion*/
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*------------animacion de escritura-------------*/
/*Animacion Botones*/
@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
    }
    50% {
        box-shadow: 0 0 20px #00ff00, 0 0 40px #00ff00;
    }
}
#logo {
    cursor: pointer;  /* Cambia el cursor a una mano */
    color: #00ff99;
    transition: color 0.3s ease;
}

#logo:hover {
    color: #00cc7a;
}


.body-index h1, 
.body-index h2, 
.body-index p {
    animation: fadeUp 0.5s ease forwards;
}
.nav-item {
    font-size: 36px;
    font-family: 'MartianMonoBold', monospace;
    justify-content: space-between;
    ;    
}

/* Delay para cada elemento */
.body-index h1 {
    animation-delay: 0.15s;
}
.body-index h2 {
    animation-delay: 0.2s;
}
.body-index p {
    animation-delay: 0.4s;
}

.btn {
    animation: glow 2s infinite alternate;
}
.nav-item:hover {
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 40px #00ff00;
}
/*configuracion base*/
.body-index {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'MartianMonoBold', monospace;
    color: white;
    position: relative;
    overflow: hidden;
    /*overflow-x: hidden;
    min-height: 100vh;*/
}

/* Imagen de fondo */
.body-index:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover; 
    background-position: center;
    z-index: -2; /* detrás del overlay */
}

/* Overlay oscuro */
.body-index:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* negro con 50% opacidad */
    z-index: -1; /* encima de la imagen pero debajo del texto */
}

/*contenido principal*/
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main-content{
    flex: 1;
}
/*Header*/
.header{
    background-color: #07071d;
    color: #fff;
    padding: 5px 60px;
   
}
.white{
    color: rgb(255, 255, 255);
    font-family: 'MartianMono', monospace;
}
.learn{
    color: rgb(18, 168, 5);
    font-family: 'MartianMonoBold', monospace;
}
.site-title{
    font-size: 38px;
    font-weight: bold;
    margin: 20px 0;
    font-family: 'MartianMonoBold', monospace;
    color: rgb(255, 255, 255);
}
.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.intro-text{
    font-family: '0xprotoMono', monospace;
    font-size: 38px;
    text-align:center;
    margin: 100px 100px;
    color: chartreuse;
}
.buttons{
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
}
.btn{
    padding: 12px 25px;
    font-size: 30px;
    border: 2px solid #00ff00;
    border-radius: 5px;
    cursor: pointer;
    color: #00ff00;
    border-radius: 8px;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: '0xprotoMono', monospace;
    
}
.btn.registro{
    background-color:  rgb(18, 168, 5);
    color: #07071d;
}
/* Botón Iniciar sesión */
.btn.login {
    background-color: #07071d   ;
    color: rgb(252, 252, 252);
}
/* Efecto Hover */
.btn:hover {
    box-shadow: 0 0 15px violet;
    transform: scale(1.05);
}
footer{
    background-color: #07071d;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}
/**************************************Registro**********************************/
.form-register{
    animation: fadeUp 0.5s ease forwards;
    background-color: #0f1733;
    padding: 30px;
    border-radius: 8px;
    border: 2px solid #0c5b5e;
    width: 600px;
    text-align: left;
}
.form-register h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.form-register label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}
.form-register input {
    font-size: 16px;
    padding: 8px;
    border: 2px solid #179107;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #141414;
    caret-color: #179107;
    margin-bottom: 20px;
    color: #ffffff;
}
.form-register button {
    font-size: 18px;
    padding: 12px 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #179107;
    color: #07071d;
    cursor: pointer;
}

.form-register button:hover {
    background-color: #00ff00;
    color: #07071d;
    box-shadow: #179107 0 0 20px;
    transition: all 0.3s ease;
}    
/**************************Login CSS****************************/
.header-login {
    background-color: #07071d;
    color: #fff;
    padding: 5px 60px;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el header esté siempre encima */
}

.body-login {
    background-color: #07071d;
    color: #ffffff;
    font-family: '0xprotoMono', monospace;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 250px; /* Espacio para el header */
}

/* Imagen de fondo */
.body-login:before {
    content: "";
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/login_sunset.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -2; /* detrás del overlay */
}

/* Overlay oscuro */
.body-login:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* negro con 50% opacidad */
    z-index: -1; /* encima de la imagen pero debajo del texto */
}

.login-container{
    animation: fadeUp 0.5s ease forwards;
    background-color: #0f1733;
    padding: 30px;
    border-radius: 8px;
    border: 2px solid #0c5b5e;
    width: 600px;
    text-align: left;

}
.login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.login-container label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}
.login-container input {
    font-size: 16px;
    padding: 8px;
    border: 2px solid #179107;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #141414;
    caret-color: #179107;
    margin-bottom: 20px;
    color: #ffffff;
}
.login-container button {
    font-size: 18px;
    padding: 12px 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #179107;
    color: #07071d;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #00ff00;
    color: #07071d;
    box-shadow: #179107 0 0 20px;
    transition: all 0.3s ease;
}
.link-register {
    color: #b1128e;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.link-register:hover {
    text-shadow: 0 0 10px #b1128e, 0 0 20px #b1128e, 0 0 40px #b1128e;
    color: #ff00c8;
}
/*footer*/
.footer-login {
    margin-top: auto;
    position: fixed;       /* Fijo al final de la ventana */
    bottom: 20px;          /* Separado un poco del borde inferior */
    width: 100%;           /* Ocupa todo el ancho */
    text-align: center;    /* Centra el texto */
    color: #ffffff;        /* Color del texto */
    font-size: 19px;
    background: none;      /* Sin fondo */
    border: none;          /* Sin borde */
    pointer-events: none;  /* Para que no interfiera con clicks */
}
/*******************************DASHBOARD****************************************/
.body-dashboard {
    margin: 0;
    font-family: 'MartianMonoBold', monospace;
    background:#1a2332e3;
    color: white;
}
/* Imagen de fondo */
.body-dashboard:before {
    content: "";
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    background-image: url('../images/dash-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    z-index: -2; /* detrás del overlay */
}

/* Overlay oscuro */
.body-dashboard:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* negro con 50% opacidad */
    z-index: -1; /* encima de la imagen pero debajo del texto */
}
.dashboard-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 200vh;
}
.main-content-dashboard {
    flex: 1;
    padding: 30px;
    background: #0f1733;
    color: #ffffff;
    overflow-y: auto; /* Permite el desplazamiento vertical */
    border-radius: 20px;
    border: 2px solid #0c5b5e;
    margin-left: 30px;
}
/******************************SIDEBAR ********************************/
.sidebar{
    width: 260px;
    background: #0f1733;
    border: 2px solid #0c5b5e;
    padding: 20px;
    border-radius: 20px;
}
.sidebar h2 {
    font-size: 1.2rem;
    font-size: 24px;
    margin-bottom: 30px;
}
.sidebar ul {
    border-top: #00ff00 2px solid;
    list-style: none;
    padding: 0px;
}
.sidebar ul li {
    margin: 50px 0;
}
.sidebar ul li a {
    font-family: '3270Nerd', monospace;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    padding: 50px 20px;
}
.sidebar ul li a:hover {
    background-color: #1a2449;   /* gris oscuro */
    border-radius: 10px;
    padding: 20px 12px;
    display: block;
    border: #0c5b5e 2px solid;
    box-shadow: #00ff99 0 0 10px;
}
.sidebar ul li a.active {
    background-color: #00ff00; /* morado */
    color: #000000;
    border-radius: 10px;
    padding: 20px 12px;
    display: block;
    border: #000000 2px solid;
    box-shadow: #00ff99 0 0 10px;
}